.center{ /* flex content concatena os elementos filhos e quebra a linha caso não haja mais espaço */
    display: flex;
    flex-wrap: wrap; 
}  
.formSize0{
    width: 70%;
}

.center mat-form-field{ /* Espaçamento entre os elementos filhos */
   padding-left: 10%;
}

h2{
    margin-left: 50%;
}

form{
    padding-left: 10%;
}
