<div class="center">
    <form class="inForm" [formGroup]="outForm">
        <mat-form-field class="formSize0">
            <mat-label>Nome</mat-label>
            <mat-select formControlName="fullName">
                <mat-option>None</mat-option>
                <mat-option *ngFor = "let person of personArray" value={{person.fullName}} (click)="fillForm()">{{person.fullName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field  class="formSize7" >
            <mat-label>Endereço</mat-label>
            <input matInput placeholder="Endereço" formControlName="endereço">
        </mat-form-field>
        <mat-form-field  class="formSize1">
            <mat-label>Sexo</mat-label>
            <input matInput placeholder="Sexo" formControlName="sexo">
        </mat-form-field>
        <mat-form-field class="formSize2">
            <mat-label>CPF</mat-label>
            <input matInput  placeholder="CPF" formControlName="cpf">
        </mat-form-field>
        <mat-form-field class="formSize3">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" formControlName="email" >
        </mat-form-field>
        <mat-form-field class="formSize4">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" placeholder="phone">
        </mat-form-field>
        <mat-form-field  class="formSize5">
            <mat-label>Data de nascimento</mat-label>
            <input matInput formControlName="birthDate" placeholder="Birth Date">
        </mat-form-field>
        <div></div>
        <mat-form-field>
            <mat-label>Data de hoje</mat-label>
            <input matInput formControlName="today" required=true type="date" #date>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Horário de saída</mat-label>
            <input matInput formControlName="checkin" required=true type="time" #time>
        </mat-form-field>
    </form>
</div>
<div class = "buttonDiv">
<button mat-raised-button (click) = "save()">Check Out</button>
</div>
